@import 'micromodal';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind variants;

.main-content {
    padding-left: 17rem;
    padding-top: 4.5rem;
    padding-right: 1rem;
}

.main-content .title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 5px;
    background-color: #F49AA5;
}
